<!doctype html>
<html lang="en">
<head>
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    <title>Shopify Theme</title></head>
<body>
{% render "header" %}
{{ content_for_layout }}
{{ 'scripts.js' | asset_url | script_tag }}
</body>
</html>